## Pandas

In [3]:
import pandas as pd

Pandas is a language providing data structures for "relational" and "labeled" data for relatively unstructured datasets (csv, dictionaries). The most common one is DataFrame.

### DataFrames

In [5]:
villes_stades = {'nom':["Paris","Marseille","Lyon","Lens","Toulouse"],
          'population':[212,80,44,32,39],
          'zip':["75","13","69","62","31"],
          'stade':[49691,42000,41842,12097,35472]}

villes = pd.DataFrame(villes_stades) # Pandas Invocation To Create DataFrame From Dictionary
villes.head(3)

         nom  population  stade zip
0      Paris         212  49691  75
1  Marseille          80  42000  13
2       Lyon          44  41842  69

In [ ]:
print(villes.columns)

# Prints The Columns Names If "villes" Was A csv File Read By Pandas

In [7]:
print(villes.shape) # Prints The Number Of Rows And Columns

(5, 4)

In [15]:
pd.DataFrame.describe(villes) # Brief Analysis Of The Dataframe

pd.DataFrame.fillna(villes) # Fills Up Empty Cells With NaN

       population         stade
count    5.000000      5.000000
mean    81.400000  36220.400000
std     75.324631  14395.847988
min     32.000000  12097.000000
25%     39.000000  35472.000000
50%     44.000000  41842.000000
75%     80.000000  42000.000000
max    212.000000  49691.000000

In [4]:
villes[["nom","stade"]].head(3) # Display Selected Columns

         nom  stade
0      Paris  49691
1  Marseille  42000
2       Lyon  41842

In [13]:
print(villes["population"]) # Selects A Column By Name

0    212
1     80
2     44
3     32
4     39
Name: population, dtype: int64

In [16]:
villes.iloc[0,3] # Selects A Specific Cell By Index

'75'

In [10]:
villes[villes["population"] == 80] # Selects A Subset of Data By Value

         nom  population  stade zip
1  Marseille          80  42000  13

In [5]:
villes.ix[3] # Select A Row By Index

nom            Lens
population       32
stade         12097
zip              62
Name: 3, dtype: object

In [6]:
villes[villes["stade"]>30000] # Condition: City With Stadiums Containing More Than 30k People

         nom  population  stade zip
0      Paris         212  49691  75
1  Marseille          80  42000  13
2       Lyon          44  41842  69
4   Toulouse          39  35472  31

In [7]:
villes2 = pd.DataFrame(villes_stades,
                        columns=['population','stade'],
                        index=villes_stades['nom']) # Replace Indices With A Column Name

villes2.head(3)

           population  stade
Paris             212  49691
Marseille          80  42000
Lyon               44  41842

In [21]:
villes.corr()["population"] # Shows The Correlation Between Columns

population    1.000000
stade         0.637322
Name: population, dtype: float64

### Apply Function

In [8]:
def difference(x): # Difference Between Value And Average Column Value With DataFrame.apply()
    return x - x.mean()

villes2_dif = villes2.apply(difference)

villes2_dif['stade']

Paris        13470.6
Marseille     5779.6
Lyon          5621.6
Lens        -24123.4
Toulouse      -748.4
Name: stade, dtype: float64

### Read File To Return A DataFrame

pd.read_csv(path_to_file.csv)

OR

pd.read_excel(pd.ExcelFile("path_to_file.xls"), "Sheet 1")

### GroupBy : Sum->Group->Display

In [ ]:
reserve.sort(["Subvention allouée","Coût du projet"],ascending=False).head(2) 

# DataFrame Sorted To Get The Highest "Subvention allouée"

In [ ]:
reserve['Subvention allouée'].groupby(reserve['Parlementaire transmetteur']).count().order(ascending=False)

# To Get The "Parlementaire" Who Received The Highest Number Of "Subventions"
# Use "sum" Instead Of "count" To Get "Subventions" In Value

reserve['Coût du projet'].groupby(reserve['Nature']).mean() # Average "Coût" By "Chamber"

In [ ]:
reserve.groupby(['Département','Nature']).size().unstack().ix['YVELINES']

# Count Number Of Projects By The "Département" YVELINES By "Chamber"

reserve[reserve['Bénéficiaire'] == 'PARIS'] # The "Subvention" Given To Paris

#### Insert A Dictionary To "Rename" Values Within A Column

In [ ]:
mapping = {'CRC':'Partis de Gauche', 
           'CRC-SPG':'Partis de Gauche', 
           'ECO':'Ecologistes', 
           'GDR':'Radicaux', 
           'NC':'Centristes', 
           'NI':'Non Inscrits', 
           'RDSE':'Radicaux',
           'SOC':'Parti Socialiste',
           'SOCV':'Parti Socialiste',
           'SRC':'Parti Socialiste',
           'UC':'Centristes', 
           'UDI':'Centristes', 
           'UMP':'Union Mouvement Populaire'}

reserve['parti'] = reserve['Groupe politique du parlementaire'].map(mapping)
reserve.head(2) 

# A New "Parti" Column Has Been Created With The "mapping" Values Corresponding To "Groupe Politique'

### Data Wrangling

In [ ]:
users_ratings = pd.merge(users,ratings,on='user_id') # Merges Two DataFrames "users" & "ratings" With The Common Label "user_id"

In [ ]:
DataFrame.drop_duplicates() # Removes All Duplicates

In [ ]:
DataFrame.dropna() # Removes Missing Values

In [ ]:
DataFrame._get_numeric_data() # Gets Numeric Columns Only

In [ ]:
top_100 = data['rating'].groupby(data['title']).agg(['count','mean'])

top_100[top_100['count'] > 100].sort('mean',ascending=False).head(5)

# Gets The 5 Movies With The Highest Ratings, With At Least 100 Ratings

In [ ]:
data['rating'].groupby(data['age']).mean().order(ascending=False).plot(kind='barh')

# Displays Horizontal Bar Chart

In [ ]:
DataFrame["Column"] = DataFrame["Column"].astype(float)

# Converts Specific Column Values Into Floating Numbers