## Pandas

In [1]:
import pandas as pd

Pandas is a language providing data structure for "relational" and "labeled" data.

### DataFrames

In [18]:
villes_stades = {'nom':["Paris","Marseille","Lyon","Lens","Toulouse"],
          'population':[212,80,44,32,39],
          'zip':["75","13","69","62","31"],
          'stade':[49691,42000,41842,12097,35472]}

villes = pd.DataFrame(villes_stades) # Pandas Invocation To Create DataFrame From Dictionary
villes.head(4)

         nom  population  stade zip
0      Paris         212  49691  75
1  Marseille          80  42000  13
2       Lyon          44  41842  69
3       Lens          32  12097  62

In [13]:
villes[["nom","stade"]].head(3) # Display Selected Columns

         nom  stade
0      Paris  49691
1  Marseille  42000
2       Lyon  41842

In [19]:
villes.ix[3] # Select A Row By Index

nom            Lens
population       32
stade         12097
zip              62
Name: 3, dtype: object

In [25]:
villes[villes["stade"]>30000] # Condition: City With Stadiums Containing More Than 30k People

         nom  population  stade zip
0      Paris         212  49691  75
1  Marseille          80  42000  13
2       Lyon          44  41842  69
4   Toulouse          39  35472  31

In [27]:
villes2 = pd.DataFrame(villes_stades,
                        columns=['population','stade'],
                        index=villes_stades['nom']) # Replace Indices With A Column Name

villes2.head(3)

           population  stade
Paris             212  49691
Marseille          80  42000
Lyon               44  41842

### Apply Function

In [29]:
def difference(x): # Difference Between Value And Column Mean With DataFrame.apply()
    return x - x.mean()

villes2_dif = villes2.apply(difference)

villes2_dif['stade']

Paris        13470.6
Marseille     5779.6
Lyon          5621.6
Lens        -24123.4
Toulouse      -748.4
Name: stade, dtype: float64